<a href="https://colab.research.google.com/github/dhan16/colabs/blob/master/covid19opendata/WikiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sparql

In [1]:
# Sparql functions
import requests
import pandas as pd

ENDPOINT = "https://query.wikidata.org/sparql"


def wiki_data(sparql):
  res = requests.get(ENDPOINT, params = {'format': 'json', 'query': sparql})
  return res.json()


def wikidata_to_dataframe(json):
  results = json["results"]["bindings"]
  # column names we draw from the first result
  cols = [ val for val in results[0] ]
  rows = []
  for result in results:
      values = [ result[val]["value"] for val in result ]
      rows.append(values)
  return pd.DataFrame(rows, columns=cols)

In [4]:
sparql = """
SELECT ?place ?placeLabel ?class ?classLabel
WHERE
{
  ?place wdt:P31/wdt:P279* wd:Q12479774.
  # ?place wdt:P31 ?class
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
  }
}
"""
res = wiki_data(sparql)
wiki_df = wikidata_to_dataframe(res)
wiki_df

                                     place    placeLabel
0     http://www.wikidata.org/entity/Q1795        Asahan
1     http://www.wikidata.org/entity/Q5662    Aceh Besar
2     http://www.wikidata.org/entity/Q5666     Gayo Lues
3     http://www.wikidata.org/entity/Q5667     Aceh Jaya
4     http://www.wikidata.org/entity/Q5672  Aceh Singkil
..                                     ...           ...
512  http://www.wikidata.org/entity/Q14634      Makassar
513  http://www.wikidata.org/entity/Q14635        Palopo
514  http://www.wikidata.org/entity/Q14636      Parepare
515  http://www.wikidata.org/entity/Q15378        Baubau
516  http://www.wikidata.org/entity/Q15379       Kendari

[517 rows x 2 columns]

## Sheet

In [5]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.17.2)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (51.3.3)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.7)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [6]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

sheet_url = 'https://docs.google.com/spreadsheets/d/1FJJXiGuOb5nXrjJeV3QcHNhTo38YdcsTIFl29mWDIqI/edit#gid=2006070746'
worksheet = gc.open_by_url(sheet_url).worksheet('Kode Kota')
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
sheet_df = pd.DataFrame.from_records(rows[2:], columns=rows[1])
sheet_df

    ID Provinsi        Provinsi ID Kota KabKota              Kota
0             1      Aceh (NAD)     258    Kab.        Aceh Barat
1             1      Aceh (NAD)     259    Kab.   Aceh Barat Daya
2             1      Aceh (NAD)     260    Kab.        Aceh Besar
3             1      Aceh (NAD)     261    Kab.         Aceh Jaya
4             1      Aceh (NAD)     262    Kab.      Aceh Selatan
..          ...             ...     ...     ...               ...
557          34  Sumatera Utara     492    Kab.  Tapanuli Selatan
558          34  Sumatera Utara     493    Kab.   Tapanuli Tengah
559          34  Sumatera Utara     494    Kab.    Tapanuli Utara
560          34  Sumatera Utara     495    Kota     Tebing Tinggi
561          34  Sumatera Utara     496    Kab.      Toba Samosir

[562 rows x 5 columns]

## Analyze

In [7]:
# Find rows in sheet_df with no matches in wiki_df
df = sheet_df.merge(wiki_df, how='left', left_on='Kota', right_on='placeLabel') 
# missing = df[df['placeLabel'].isnull() & ~df['KabKota'].isin(['zTam'])]
missing = df[df['placeLabel'].isnull()]
missing

    ID Provinsi        Provinsi  ... place placeLabel
23            1      Aceh (NAD)  ...   NaN        NaN
24            1      Aceh (NAD)  ...   NaN        NaN
25            1      Aceh (NAD)  ...   NaN        NaN
26            2            Bali  ...   NaN        NaN
27            2            Bali  ...   NaN        NaN
..          ...             ...  ...   ...        ...
585          34  Sumatera Utara  ...   NaN        NaN
599          34  Sumatera Utara  ...   NaN        NaN
604          34  Sumatera Utara  ...   NaN        NaN
606          34  Sumatera Utara  ...   NaN        NaN
609          34  Sumatera Utara  ...   NaN        NaN

[82 rows x 7 columns]