<a href="https://colab.research.google.com/github/dhan16/colabs/blob/master/covid19opendata/WikiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup

In [34]:

import requests
import pandas as pd

ENDPOINT = "https://query.wikidata.org/sparql"

def wikidata_to_dataframe(json):
  results = json["results"]["bindings"]
  rows = []
  for result in results:
      values = [ result[val]["value"] for val in result ]
      rows.append(values)
  return pd.DataFrame(rows, columns=[val for val in results[0]])

def wiki_data(sparql):
  res = requests.get(ENDPOINT, params = {'format': 'json', 'query': sparql})
  return wikidata_to_dataframe(res.json())

In [41]:
!pip install --upgrade gspread

Requirement already up-to-date: gspread in /usr/local/lib/python3.7/dist-packages (3.7.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.3)
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.27.1)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (54.0.0)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied, skipping upgrade: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)

## Indonesia

### Wikidata

In [48]:
# indonesia level2 areas
# city=Q3199141, Q3191695 = regency
sparql_cities = """
SELECT ?place ?subregion1Label ?placeLabel ?class ?classLabel
WHERE
{
  ?place wdt:P31/wdt:P279* wd:Q3199141. # P31=instance of, P279=subclass of
  ?place wdt:P131 ?subregion1. # P131=located in the administrative territorial entity
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
  }
}
"""
wiki_cities = wiki_data(sparql_cities)

sparql_regencies = """
SELECT ?place ?subregion1Label ?placeLabel ?class ?classLabel
WHERE
{
  ?place wdt:P31/wdt:P279* wd:Q3191695. # P31=instance of, P279=subclass of
  ?place wdt:P131 ?subregion1. # P131=located in the administrative territorial entity
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
  }
}
"""
wiki_regencies = wiki_data(sparql_regencies)

# wiki_cities
wiki_regencies

                                       place     subregion1Label     placeLabel
0       http://www.wikidata.org/entity/Q1795       North Sumatra         Asahan
1       http://www.wikidata.org/entity/Q5662                Aceh     Aceh Besar
2       http://www.wikidata.org/entity/Q5666                Aceh      Gayo Lues
3       http://www.wikidata.org/entity/Q5667                Aceh      Aceh Jaya
4       http://www.wikidata.org/entity/Q5672                Aceh   Aceh Singkil
..                                       ...                 ...            ...
428    http://www.wikidata.org/entity/Q46483           West Java    Pangandaran
429   http://www.wikidata.org/entity/Q676084        North Maluku  Pulau Taliabu
430   http://www.wikidata.org/entity/Q848672          West Papua      Manokwari
431  http://www.wikidata.org/entity/Q3182322            Bengkulu           Kaur
432  http://www.wikidata.org/entity/Q4069046  East Nusa Tenggara         Malaka

[433 rows x 3 columns]

### OpenCovid

In [49]:
meta = pd.read_csv('https://raw.githubusercontent.com/GoogleCloudPlatform/covid-19-open-data/main/src/data/metadata.csv')
meta = provs.query('(country_code == "ID")')
meta

         key country_code  ...               match_string aggregate_report_offset
10605     ID           ID  ...                        NaN                      -1
10606  ID_AC           ID  ...                        NaN                       0
10607  ID_BA           ID  ...                        NaN                       0
10608  ID_BB           ID  ...  Kepulauan Bangka Belitung                     NaN
10609  ID_BE           ID  ...                        NaN                     NaN
10610  ID_BT           ID  ...                        NaN                     NaN
10611  ID_GO           ID  ...                        NaN                     NaN
10612  ID_JA           ID  ...                        NaN                     NaN
10613  ID_JB           ID  ...                 Jawa Barat                     NaN
10614  ID_JI           ID  ...                 Jawa Timur                     NaN
10615  ID_JK           ID  ...                DKI Jakarta                     NaN
10616  ID_JT           ID  ...                Jawa Tengah                     NaN
10617  ID_KB           ID  ...           Kalimantan Barat                     NaN
10618  ID_KI           ID  ...           Kalimantan Timur                     NaN
10619  ID_KR           ID  ...             Kepulauan Riau                     NaN
10620  ID_KS           ID  ...         Kalimantan Selatan                     NaN
10621  ID_KT           ID  ...          Kalimantan Tengah                     NaN
10622  ID_KU           ID  ...           Kalimantan Utara                     NaN
10623  ID_LA           ID  ...                        NaN                     NaN
10624  ID_MA           ID  ...                        NaN                     NaN
10625  ID_MU           ID  ...               Maluku Utara                     NaN
10626  ID_NB           ID  ...        Nusa Tenggara Barat                     NaN
10627  ID_NT           ID  ...        Nusa Tenggara Timur                     NaN
10628  ID_PA           ID  ...                        NaN                     NaN
10629  ID_PB           ID  ...                Papua Barat                     NaN
10630  ID_RI           ID  ...                        NaN                     NaN
10631  ID_SA           ID  ...             Sulawesi Utara                     NaN
10632  ID_SB           ID  ...             Sumatera Barat                     NaN
10633  ID_SG           ID  ...          Sulawesi Tenggara                     NaN
10634  ID_SN           ID  ...           Sulawesi Selatan                     NaN
10635  ID_SR           ID  ...             Sulawesi Barat                     NaN
10636  ID_SS           ID  ...           Sumatera Selatan                     NaN
10637  ID_ST           ID  ...            Sulawesi Tengah                     NaN
10638  ID_SU           ID  ...             Sumatera Utara                     NaN
10639  ID_YO           ID  ...              DI Yogyakarta                     NaN

[35 rows x 11 columns]

### Translations

In [56]:
def indonesian_direction_to_english(place: str):
  # place is in lower
  to_english = {
      'pusat': 'central',
      'tengah' : 'central',
      'utara' : 'north',
      'selatan' : 'south',
      'timur' : 'east',
      'barat' : 'west',
  }
  bits = place.split()
  if len(bits) > 1:
    for indo_dir, eng_dir in to_english.items():
      # in indonesian the dir is at the end 
      if bits[-1] == indo_dir:
        bits.pop()
        bits.insert(0, eng_dir)
        break
  place = ' '.join(bits)
  return place

def indonesian_to_english(place: str):
  # place is in lower
  to_english = {
      'kepulauan' : 'islands',
      'pulau' : 'island',
  }
  bits = place.split()
  if len(bits) > 1:
    for indo, eng in to_english.items():
      # in indonesian the island is at the beginning while in english its at the end
      if bits[0] == indo:
        bits.pop(0)
        bits.append(eng)
        break
  place = ' '.join(bits)
  return place

[
  indonesian_direction_to_english('whatever tengah'),
  indonesian_to_english('kepulauan tengah')
]

['central whatever', 'tengah islands']

In [57]:
spellings = {
    'Toba Samosir' : 'Toba Regency', # https://www.wikidata.org/wiki/Q5911
    'Penajam Paser Utara' : 'Penajam North Paser',
    'Kupang' : 'Kupang Regency', # https://www.wikidata.org/wiki/Q14141
    'Kepulauan Seribu' : 'Thousand Islands', # https://translate.google.com/?sl=id&tl=en&text=Kepulauan%20Seribu&op=translate
    'Pangkajene Kepulauan' : 'Pangkajene Islands', # https://translate.google.com/?sl=id&tl=en&text=Pangkajene%20Kepulauan&op=translate
    'Pasangkayu (Mamuju Utara)': 'Pasangkayu', # https://en.wikipedia.org/wiki/Pasangkayu_Regency
    # due to dashes
    'Bau-Bau' : 'Baubau',
    'Tojo Una-Una' : 'Tojo Una Una',
    'Toli-Toli': 'Tolitoli',
     # verify below
    # 'Kepulauan Sangihe' : 'Sangihe',
    # 'Kepulauan Sitaro' : 'Kepulauan Siau Tagulandang Biaro',
}
def standard_place_spelling(place: str) -> str:
   # other spellings if still required
  place = spellings.get(place, place)
  # all lowercase
  place = place.lower()
  # apply translations
  place = indonesian_direction_to_english(place)
  place = indonesian_to_english(place)
  # remove spaces
  # place = place.replace(' ', '')
  return place


wiki_df['place_standardised'] = wiki_df.apply(lambda r: standard_place_spelling(r.placeLabel), axis=1)

### Sheet

In [58]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

sheet_url = 'https://docs.google.com/spreadsheets/d/1FJJXiGuOb5nXrjJeV3QcHNhTo38YdcsTIFl29mWDIqI/edit#gid=2006070746'
worksheet = gc.open_by_url(sheet_url).worksheet('Kode Kota')
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
sheet_df = pd.DataFrame.from_records(rows[2:], columns=rows[1])

sheet_df['KabKota_standardized'] = sheet_df.apply(lambda r: standard_place_spelling(r.Kota), axis=1)

# 'Kab.' : 'Regency', 
# 'Kota': 'City', 
sheet_cities = sheet_df[sheet_df.KabKota == 'Kota']
sheet_regencies = sheet_df[sheet_df.KabKota == 'Kab.']
sheet_cities
# sheet_regencies

    ID Provinsi        Provinsi  ...              Kota KabKota_standardized
11            1      Aceh (NAD)  ...        Banda Aceh            bandaaceh
15            1      Aceh (NAD)  ...            Langsa               langsa
16            1      Aceh (NAD)  ...       Lhokseumawe          lhokseumawe
20            1      Aceh (NAD)  ...            Sabang               sabang
22            1      Aceh (NAD)  ...      Subulussalam         subulussalam
..          ...             ...  ...               ...                  ...
549          34  Sumatera Utara  ...  Padang Sidempuan      padangsidempuan
551          34  Sumatera Utara  ...  Pematang Siantar      pematangsiantar
554          34  Sumatera Utara  ...           Sibolga              sibolga
556          34  Sumatera Utara  ...     Tanjung Balai         tanjungbalai
560          34  Sumatera Utara  ...     Tebing Tinggi         tebingtinggi

[98 rows x 6 columns]

In [ ]:
# Find rows in wiki_df with no matches in sheet_df
df = wiki_df.merge(sheet_df, how='left', right_on=['Kota_standardised', 'regiontype'], left_on=['place_standardised', 'regiontype']) 
missing = df[df['Kota'].isnull()]
missing
# len(missing)

                                       class  ... Kota_standardised
475  http://www.wikidata.org/entity/Q3199141  ...               NaN

[1 rows x 15 columns]

In [ ]:
# Matching rows with subregions
df = df.merge(provs, how='inner', left_on='subregion1Label', right_on='subregion1_name')
df['key'] = df.apply(lambda r: str(r.key) + '_' + str(r["ID Kota"]), axis=1)
df = df[~df['Kota'].isnull() & ~df['key'].isnull()]
cols = ['key', 'country_code', 'country_name', 'subregion1_code', 'subregion1_name', 'ID Kota', 'placeLabel']

print(df[cols].to_csv())

,key,country_code,country_name,subregion1_code,subregion1_name,ID Kota,placeLabel
0,ID_JI_161,ID,Indonesia,JI,East Java,161,Tulungagung
1,ID_JI_160,ID,Indonesia,JI,East Java,160,Tuban
2,ID_JI_159,ID,Indonesia,JI,East Java,159,Trenggalek
3,ID_JI_157,ID,Indonesia,JI,East Java,157,Sumenep
4,ID_JI_156,ID,Indonesia,JI,East Java,156,Situbondo
5,ID_JI_155,ID,Indonesia,JI,East Java,155,Sidoarjo
6,ID_JI_154,ID,Indonesia,JI,East Java,154,Sampang
7,ID_JI_152,ID,Indonesia,JI,East Java,152,Probolinggo
8,ID_JI_151,ID,Indonesia,JI,East Java,151,Ponorogo
9,ID_JI_149,ID,Indonesia,JI,East Java,149,Pasuruan
10,ID_JI_148,ID,Indonesia,JI,East Java,148,Pamekasan
11,ID_JI_147,ID,Indonesia,JI,East Java,147,Pacitan
12,ID_JI_146,ID,Indonesia,JI,East Java,146,Ngawi
13,ID_JI_145,ID,Indonesia,JI,East Java,145,Nganjuk
14,ID_JI_143,ID,Indonesia,JI,East Java,143,Mojokerto
15,ID_JI_141,ID,Indonesia,JI,East Java,141,Malang
16,ID_JI_140,ID,Indonesia,JI,East Java,140,Magetan
17,ID_JI_138,ID,Indonesia,JI,East Java,138,Madiun
18,ID_JI_137,ID,Indonesia,JI,East Java,137,Lumajang
19,ID_JI_136,ID,Indonesia,JI,East Java,136,Lamongan
20,ID_JI_134,ID,Indonesia,JI,East Java,134,Kediri
21,ID_JI_133,ID,Indonesia,JI,East Java,133,Jombang
22,ID_JI_132,ID,Indonesia,JI,East Java,132,Jember
23,ID_JI_131,ID,Indonesia,JI,East Java,131,Gresik
24,ID_JI_130,ID,Indonesia,JI,East Java,130,Bondowoso
25,ID_JI_129,ID,Indonesia,JI,East Java,129,Bojonegoro
26,ID_JI_127,ID,Indonesia,JI,East Java,127,Blitar
27,ID_JI_125,ID,Indonesia,JI,East Java,125,Banyuwangi
28,ID_JI_124,ID,Indonesia,JI,East Java,124,Bangkalan
29,ID_JI_158,ID,Indonesia,JI,East Java,158,Surabaya
30,ID_JI_153,ID,Indonesia,JI,East Java,153,Probolinggo
31,ID_JI_150,ID,Indonesia,JI,East Java,150,Pasuruan
32,ID_JI_144,ID,Indonesia,JI,East Java,144,Mojokerto
33,ID_JI_142,ID,Indonesia,JI,East Java,142,Malang
34,ID_JI_139,ID,Indonesia,JI,East Java,139,Madiun
35,ID_JI_135,ID,Indonesia,JI,East Java,135,Kediri
36,ID_JI_128,ID,Indonesia,JI,East Java,128,Blitar
37,ID_JI_126,ID,Indonesia,JI,East Java,126,Batu
38,ID_MU_255,ID,Indonesia,MU,North Maluku,255,Morotai Island
39,ID_MU_503,ID,Indonesia,MU,North Maluku,503,Pulau Taliabu
40,ID_MU_249,ID,Indonesia,MU,North Maluku,249,Halmahera Barat
41,ID_MU_254,ID,Indonesia,MU,North Maluku,254,Kepulauan Sula
42,ID_MU_250,ID,Indonesia,MU,North Maluku,250,Halmahera Selatan
43,ID_MU_253,ID,Indonesia,MU,North Maluku,253,Halmahera Utara
44,ID_MU_252,ID,Indonesia,MU,North Maluku,252,Halmahera Timur
45,ID_MU_251,ID,Indonesia,MU,North Maluku,251,Halmahera Tengah
47,ID_MU_256,ID,Indonesia,MU,North Maluku,256,Ternate
48,ID_PB_501,ID,Indonesia,PB,West Papua,501,Pegunungan Arfak
49,ID_PB_500,ID,Indonesia,PB,West Papua,500,Manokwari Selatan
50,ID_PB_351,ID,Indonesia,PB,West Papua,351,Teluk Wondama
51,ID_PB_350,ID,Indonesia,PB,West Papua,350,Teluk Bintuni
52,ID_PB_349,ID,Indonesia,PB,West Papua,349,Tambrauw
53,ID_PB_348,ID,Indonesia,PB,West Papua,348,Sorong Selatan
54,ID_PB_346,ID,Indonesia,PB,West Papua,346,Sorong
55,ID_PB_345,ID,Indonesia,PB,West Papua,345,Raja Ampat
56,ID_PB_344,ID,Indonesia,PB,West Papua,344,Maybrat
57,ID_PB_343,ID,Indonesia,PB,West Papua,343,Manokwari
58,ID_PB_342,ID,Indonesia,PB,West Papua,342,Kaimana
59,ID_PB_341,ID,Indonesia,PB,West Papua,341,Fakfak
60,ID_PB_347,ID,Indonesia,PB,West Papua,347,Sorong
61,ID_SG_511,ID,Indonesia,SG,Southeast Sulawesi,511,Kolaka Timur
62,ID_SG_512,ID,Indonesia,SG,Southeast Sulawesi,512,Konawe Kepulauan
63,ID_SG_510,ID,Indonesia,SG,Southeast Sulawesi,510,Muna Barat
64,ID_SG_509,ID,Indonesia,SG,Southeast Sulawesi,509,Buton Selatan
65,ID_SG_508,ID,Indonesia,SG,Southeast Sulawesi,508,Buton Tengah
66,ID_SG_414,ID,Indonesia,SG,Southeast Sulawesi,414,Wakatobi
67,ID_SG_411,ID,Indonesia,SG,Southeast Sulawesi,411,Konawe Selatan
68,ID_SG_412,ID,Indonesia,SG,Southeast Sulawesi,412,Konawe Utara
69,ID_SG_409,ID,Indonesia,SG,Southeast Sulawesi,409,Kolaka Utara
70,ID_SG_406,ID,Indonesia,SG,Southeast Sulawesi,406,Buton Utara
71,ID_SG_413,ID,Indonesia,SG,Southeast Sulawesi,413,Muna
72,ID_SG_410,ID,Indonesia,SG,Southeast Sulawesi,410,Konawe
73,ID_SG_408,ID,Indonesia,SG,Southeast Sulawesi,408,Kolaka
74,ID_SG_405,ID,Indonesia,SG,Southeast Sulawesi,405,Buton
75,ID_SG_404,ID,Indonesia,SG,Southeast Sulawesi,404,Bombana
76,ID_SG_407,ID,Indonesia,SG,Southeast Sulawesi,407,Kendari
77,ID_SG_403,ID,Indonesia,SG,Southeast Sulawesi,403,Baubau
78,ID_SS_514,ID,Indonesia,SS,South Sumatra,514,Penukal Abab Lematang Ilir
79,ID_SS_513,ID,Indonesia,SS,South Sumatra,513,Musi Rawas Utara
80,ID_SS_226,ID,Indonesia,SS,South Sumatra,226,Lampung Selatan
81,ID_SS_229,ID,Indonesia,SS,South Sumatra,229,Lampung Utara
82,ID_SS_14,ID,Indonesia,SS,South Sumatra,14,Belitung
83,ID_SS_10,ID,Indonesia,SS,South Sumatra,10,Bangka
84,ID_SS_227,ID,Indonesia,SS,South Sumatra,227,Lampung Tengah
85,ID_SS_459,ID,Indonesia,SS,South Sumatra,459,Ogan Komering Ulu Selatan
86,ID_SS_458,ID,Indonesia,SS,South Sumatra,458,Ogan Komering Ulu
87,ID_SS_457,ID,Indonesia,SS,South Sumatra,457,Ogan Komering Ilir
88,ID_SS_456,ID,Indonesia,SS,South Sumatra,456,Ogan Ilir
89,ID_SS_455,ID,Indonesia,SS,South Sumatra,455,Musi Rawas
90,ID_SS_454,ID,Indonesia,SS,South Sumatra,454,Musi Banyuasin
91,ID_SS_453,ID,Indonesia,SS,South Sumatra,453,Muara Enim
92,ID_SS_451,ID,Indonesia,SS,South Sumatra,451,Lahat
93,ID_SS_450,ID,Indonesia,SS,South Sumatra,450,Empat Lawang
94,ID_SS_460,ID,Indonesia,SS,South Sumatra,460,Ogan Komering Ulu Timur
95,ID_SS_449,ID,Indonesia,SS,South Sumatra,449,Banyuasin
96,ID_SS_26,ID,Indonesia,SS,South Sumatra,26,Bengkulu Selatan
97,ID_SS_33,ID,Indonesia,SS,South Sumatra,33,Rejang Lebong
98,ID_SS_28,ID,Indonesia,SS,South Sumatra,28,Bengkulu Utara
99,ID_SS_463,ID,Indonesia,SS,South Sumatra,463,Prabumulih
100,ID_SS_462,ID,Indonesia,SS,South Sumatra,462,Palembang
101,ID_SS_461,ID,Indonesia,SS,South Sumatra,461,Pagar Alam
102,ID_SS_452,ID,Indonesia,SS,South Sumatra,452,Lubuklinggau
103,ID_SS_25,ID,Indonesia,SS,South Sumatra,25,Bengkulu
104,ID_SS_16,ID,Indonesia,SS,South Sumatra,16,Pangkal Pinang
105,ID_SS_224,ID,Indonesia,SS,South Sumatra,224,Bandar Lampung
106,ID_MA_243,ID,Indonesia,MA,Maluku,243,Maluku Tengah
107,ID_MA_245,ID,Indonesia,MA,Maluku,245,Kepulauan Tanimbar
108,ID_MA_246,ID,Indonesia,MA,Maluku,246,Seram Bagian Barat
109,ID_MA_242,ID,Indonesia,MA,Maluku,242,Maluku Barat Daya
110,ID_MA_244,ID,Indonesia,MA,Maluku,244,Maluku Tenggara
111,ID_MA_240,ID,Indonesia,MA,Maluku,240,Buru Selatan
112,ID_MA_247,ID,Indonesia,MA,Maluku,247,Seram Bagian Timur
113,ID_MA_239,ID,Indonesia,MA,Maluku,239,Buru
114,ID_MA_241,ID,Indonesia,MA,Maluku,241,Kepulauan Aru
115,ID_MA_248,ID,Indonesia,MA,Maluku,248,Tual
116,ID_MA_238,ID,Indonesia,MA,Maluku,238,Ambon
117,ID_NT_504,ID,Indonesia,NT,East Nusa Tenggara,504,Malaka
118,ID_NT_306,ID,Indonesia,NT,East Nusa Tenggara,306,Sumba Barat
119,ID_NT_299,ID,Indonesia,NT,East Nusa Tenggara,299,Manggarai Barat
120,ID_NT_307,ID,Indonesia,NT,East Nusa Tenggara,307,Sumba Barat Daya
121,ID_NT_310,ID,Indonesia,NT,East Nusa Tenggara,310,Timor Tengah Selatan
122,ID_NT_305,ID,Indonesia,NT,East Nusa Tenggara,305,Sikka
123,ID_NT_304,ID,Indonesia,NT,East Nusa Tenggara,304,Sabu Raijua
124,ID_NT_303,ID,Indonesia,NT,East Nusa Tenggara,303,Rote Ndao
125,ID_NT_311,ID,Indonesia,NT,East Nusa Tenggara,311,Timor Tengah Utara
126,ID_NT_302,ID,Indonesia,NT,East Nusa Tenggara,302,Ngada
127,ID_NT_301,ID,Indonesia,NT,East Nusa Tenggara,301,Nagekeo
128,ID_NT_298,ID,Indonesia,NT,East Nusa Tenggara,298,Manggarai
129,ID_NT_297,ID,Indonesia,NT,East Nusa Tenggara,297,Lembata
130,ID_NT_295,ID,Indonesia,NT,East Nusa Tenggara,295,Kupang Regency
131,ID_NT_293,ID,Indonesia,NT,East Nusa Tenggara,293,Ende
132,ID_NT_309,ID,Indonesia,NT,East Nusa Tenggara,309,Sumba Timur
133,ID_NT_300,ID,Indonesia,NT,East Nusa Tenggara,300,Manggarai Timur
134,ID_NT_294,ID,Indonesia,NT,East Nusa Tenggara,294,Flores Timur
135,ID_NT_308,ID,Indonesia,NT,East Nusa Tenggara,308,Sumba Tengah
136,ID_NT_292,ID,Indonesia,NT,East Nusa Tenggara,292,Belu
137,ID_NT_291,ID,Indonesia,NT,East Nusa Tenggara,291,Alor
138,ID_NT_296,ID,Indonesia,NT,East Nusa Tenggara,296,Kupang
139,ID_BE_29,ID,Indonesia,BE,Bengkulu,29,Kaur
140,ID_BE_26,ID,Indonesia,BE,Bengkulu,26,Bengkulu Selatan
141,ID_BE_34,ID,Indonesia,BE,Bengkulu,34,Seluma
142,ID_BE_33,ID,Indonesia,BE,Bengkulu,33,Rejang Lebong
143,ID_BE_28,ID,Indonesia,BE,Bengkulu,28,Bengkulu Utara
144,ID_BE_32,ID,Indonesia,BE,Bengkulu,32,Mukomuko
145,ID_BE_31,ID,Indonesia,BE,Bengkulu,31,Lebong
146,ID_BE_30,ID,Indonesia,BE,Bengkulu,30,Kepahiang
147,ID_BE_27,ID,Indonesia,BE,Bengkulu,27,Bengkulu Tengah
148,ID_BE_25,ID,Indonesia,BE,Bengkulu,25,Bengkulu
149,ID_BA_2,ID,Indonesia,BA,Bali,2,Bangli
150,ID_BA_1,ID,Indonesia,BA,Bali,1,Badung
151,ID_BA_9,ID,Indonesia,BA,Bali,9,Tabanan
152,ID_BA_8,ID,Indonesia,BA,Bali,8,Klungkung
153,ID_BA_7,ID,Indonesia,BA,Bali,7,Karangasem
154,ID_BA_6,ID,Indonesia,BA,Bali,6,Jembrana
155,ID_BA_5,ID,Indonesia,BA,Bali,5,Gianyar
156,ID_BA_3,ID,Indonesia,BA,Bali,3,Buleleng
157,ID_BA_4,ID,Indonesia,BA,Bali,4,Denpasar
158,ID_SN_385,ID,Indonesia,SN,South Sulawesi,385,Sidenreng Rappang
159,ID_SN_386,ID,Indonesia,SN,South Sulawesi,386,Sinjai
160,ID_SN_384,ID,Indonesia,SN,South Sulawesi,384,Selayar Islands
161,ID_SN_383,ID,Indonesia,SN,South Sulawesi,383,Pinrang
162,ID_SN_381,ID,Indonesia,SN,South Sulawesi,381,Pangkajene Islands
163,ID_SN_391,ID,Indonesia,SN,South Sulawesi,391,Wajo
164,ID_SN_389,ID,Indonesia,SN,South Sulawesi,389,Tana Toraja
165,ID_SN_388,ID,Indonesia,SN,South Sulawesi,388,Takalar
166,ID_SN_387,ID,Indonesia,SN,South Sulawesi,387,Soppeng
167,ID_SN_379,ID,Indonesia,SN,South Sulawesi,379,Maros
168,ID_SN_390,ID,Indonesia,SN,South Sulawesi,390,Toraja Utara
169,ID_SN_377,ID,Indonesia,SN,South Sulawesi,377,Luwu Utara
170,ID_SN_375,ID,Indonesia,SN,South Sulawesi,375,Luwu
171,ID_SN_374,ID,Indonesia,SN,South Sulawesi,374,Jeneponto
172,ID_SN_373,ID,Indonesia,SN,South Sulawesi,373,Gowa
173,ID_SN_372,ID,Indonesia,SN,South Sulawesi,372,Enrekang
174,ID_SN_376,ID,Indonesia,SN,South Sulawesi,376,Luwu Timur
175,ID_SN_371,ID,Indonesia,SN,South Sulawesi,371,Bulukumba
176,ID_SN_370,ID,Indonesia,SN,South Sulawesi,370,Bone
177,ID_SN_369,ID,Indonesia,SN,South Sulawesi,369,Barru
178,ID_SN_368,ID,Indonesia,SN,South Sulawesi,368,Bantaeng
179,ID_SN_378,ID,Indonesia,SN,South Sulawesi,378,Makassar
180,ID_SN_382,ID,Indonesia,SN,South Sulawesi,382,Parepare
181,ID_SN_380,ID,Indonesia,SN,South Sulawesi,380,Palopo
182,ID_SN_378,ID,Indonesia,SN,South Sulawesi,378,Makassar
183,ID_KT_194,ID,Indonesia,KT,Central Kalimantan,194,Katingan
184,ID_KT_195,ID,Indonesia,KT,Central Kalimantan,195,Kotawaringin Barat
185,ID_KT_189,ID,Indonesia,KT,Central Kalimantan,189,Barito Selatan
186,ID_KT_201,ID,Indonesia,KT,Central Kalimantan,201,Seruyan
187,ID_KT_202,ID,Indonesia,KT,Central Kalimantan,202,Sukamara
188,ID_KT_200,ID,Indonesia,KT,Central Kalimantan,200,Pulang Pisau
189,ID_KT_191,ID,Indonesia,KT,Central Kalimantan,191,Barito Utara
190,ID_KT_198,ID,Indonesia,KT,Central Kalimantan,198,Murung Raya
191,ID_KT_197,ID,Indonesia,KT,Central Kalimantan,197,Lamandau
192,ID_KT_193,ID,Indonesia,KT,Central Kalimantan,193,Kapuas
193,ID_KT_192,ID,Indonesia,KT,Central Kalimantan,192,Gunung Mas
194,ID_KT_196,ID,Indonesia,KT,Central Kalimantan,196,Kotawaringin Timur
195,ID_KT_190,ID,Indonesia,KT,Central Kalimantan,190,Barito Timur
196,ID_KT_199,ID,Indonesia,KT,Central Kalimantan,199,Palangkaraya
197,ID_LA_230,ID,Indonesia,LA,Lampung,230,Mesuji
198,ID_LA_226,ID,Indonesia,LA,Lampung,226,Lampung Selatan
199,ID_LA_233,ID,Indonesia,LA,Lampung,233,Pringsewu
200,ID_LA_232,ID,Indonesia,LA,Lampung,232,Pesawaran
201,ID_LA_229,ID,Indonesia,LA,Lampung,229,Lampung Utara
202,ID_LA_236,ID,Indonesia,LA,Lampung,236,Tulang Bawang Barat
203,ID_LA_225,ID,Indonesia,LA,Lampung,225,Lampung Barat
204,ID_LA_237,ID,Indonesia,LA,Lampung,237,Way Kanan
205,ID_LA_235,ID,Indonesia,LA,Lampung,235,Tulang Bawang
206,ID_LA_234,ID,Indonesia,LA,Lampung,234,Tanggamus
207,ID_LA_499,ID,Indonesia,LA,Lampung,499,Pesisir Barat
208,ID_LA_228,ID,Indonesia,LA,Lampung,228,Lampung Timur
209,ID_LA_227,ID,Indonesia,LA,Lampung,227,Lampung Tengah
210,ID_LA_231,ID,Indonesia,LA,Lampung,231,Metro
211,ID_LA_224,ID,Indonesia,LA,Lampung,224,Bandar Lampung
212,ID_KR_220,ID,Indonesia,KR,Riau Islands,220,Kepulauan Anambas
213,ID_KR_222,ID,Indonesia,KR,Riau Islands,222,Natuna
214,ID_KR_221,ID,Indonesia,KR,Riau Islands,221,Lingga
215,ID_KR_219,ID,Indonesia,KR,Riau Islands,219,Karimun
216,ID_KR_218,ID,Indonesia,KR,Riau Islands,218,Bintan
217,ID_KR_223,ID,Indonesia,KR,Riau Islands,223,Tanjung Pinang
218,ID_KR_217,ID,Indonesia,KR,Riau Islands,217,Batam
219,ID_SA_422,ID,Indonesia,SA,North Sulawesi,422,Talaud Islands
220,ID_SA_427,ID,Indonesia,SA,North Sulawesi,427,Minahasa Tenggara
221,ID_SA_426,ID,Indonesia,SA,North Sulawesi,426,Minahasa Selatan
222,ID_SA_417,ID,Indonesia,SA,North Sulawesi,417,Bolaang Mongondow Selatan
223,ID_SA_421,ID,Indonesia,SA,North Sulawesi,421,Kepulauan Siau Tagulandang Biaro
224,ID_SA_420,ID,Indonesia,SA,North Sulawesi,420,Sangihe
225,ID_SA_428,ID,Indonesia,SA,North Sulawesi,428,Minahasa Utara
226,ID_SA_419,ID,Indonesia,SA,North Sulawesi,419,Bolaang Mongondow Utara
227,ID_SA_425,ID,Indonesia,SA,North Sulawesi,425,Minahasa
228,ID_SA_418,ID,Indonesia,SA,North Sulawesi,418,Bolaang Mongondow Timur
229,ID_SA_416,ID,Indonesia,SA,North Sulawesi,416,Bolaang Mongondow
230,ID_SA_429,ID,Indonesia,SA,North Sulawesi,429,Tomohon
231,ID_SA_424,ID,Indonesia,SA,North Sulawesi,424,Manado
232,ID_SA_423,ID,Indonesia,SA,North Sulawesi,423,Kotamobagu
233,ID_SA_415,ID,Indonesia,SA,North Sulawesi,415,Bitung
234,ID_JT_123,ID,Indonesia,JT,Central Java,123,Wonosobo
235,ID_JT_122,ID,Indonesia,JT,Central Java,122,Wonogiri
236,ID_JT_121,ID,Indonesia,JT,Central Java,121,Temanggung
237,ID_JT_119,ID,Indonesia,JT,Central Java,119,Tegal
238,ID_JT_117,ID,Indonesia,JT,Central Java,117,Sukoharjo
239,ID_JT_116,ID,Indonesia,JT,Central Java,116,Sragen
240,ID_JT_114,ID,Indonesia,JT,Central Java,114,Semarang
241,ID_JT_112,ID,Indonesia,JT,Central Java,112,Rembang
242,ID_JT_111,ID,Indonesia,JT,Central Java,111,Purworejo
243,ID_JT_110,ID,Indonesia,JT,Central Java,110,Purbalingga
244,ID_JT_109,ID,Indonesia,JT,Central Java,109,Pemalang
245,ID_JT_107,ID,Indonesia,JT,Central Java,107,Pekalongan
246,ID_JT_106,ID,Indonesia,JT,Central Java,106,Pati
247,ID_JT_104,ID,Indonesia,JT,Central Java,104,Magelang
248,ID_JT_103,ID,Indonesia,JT,Central Java,103,Kudus
249,ID_JT_102,ID,Indonesia,JT,Central Java,102,Klaten
250,ID_JT_101,ID,Indonesia,JT,Central Java,101,Kendal
251,ID_JT_100,ID,Indonesia,JT,Central Java,100,Kebumen
252,ID_JT_99,ID,Indonesia,JT,Central Java,99,Karanganyar
253,ID_JT_98,ID,Indonesia,JT,Central Java,98,Jepara
254,ID_JT_97,ID,Indonesia,JT,Central Java,97,Grobogan
255,ID_JT_96,ID,Indonesia,JT,Central Java,96,Demak
256,ID_JT_95,ID,Indonesia,JT,Central Java,95,Cilacap
257,ID_JT_94,ID,Indonesia,JT,Central Java,94,Brebes
258,ID_JT_93,ID,Indonesia,JT,Central Java,93,Boyolali
259,ID_JT_92,ID,Indonesia,JT,Central Java,92,Blora
260,ID_JT_91,ID,Indonesia,JT,Central Java,91,Batang
261,ID_JT_90,ID,Indonesia,JT,Central Java,90,Banyumas
262,ID_JT_89,ID,Indonesia,JT,Central Java,89,Banjarnegara
263,ID_JT_118,ID,Indonesia,JT,Central Java,118,Surakarta
264,ID_JT_120,ID,Indonesia,JT,Central Java,120,Tegal
265,ID_JT_108,ID,Indonesia,JT,Central Java,108,Pekalongan
266,ID_JT_115,ID,Indonesia,JT,Central Java,115,Semarang
267,ID_JT_113,ID,Indonesia,JT,Central Java,113,Salatiga
268,ID_JT_105,ID,Indonesia,JT,Central Java,105,Magelang
269,ID_JB_65,ID,Indonesia,JB,West Java,65,West Bandung
270,ID_JB_87,ID,Indonesia,JB,West Java,87,Tasikmalaya
271,ID_JB_86,ID,Indonesia,JB,West Java,86,Sumedang
272,ID_JB_84,ID,Indonesia,JB,West Java,84,Sukabumi
273,ID_JB_83,ID,Indonesia,JB,West Java,83,Subang
274,ID_JB_82,ID,Indonesia,JB,West Java,82,Purwakarta
275,ID_JB_81,ID,Indonesia,JB,West Java,81,Majalengka
276,ID_JB_80,ID,Indonesia,JB,West Java,80,Kuningan
277,ID_JB_79,ID,Indonesia,JB,West Java,79,Karawang
278,ID_JB_78,ID,Indonesia,JB,West Java,78,Indramayu
279,ID_JB_77,ID,Indonesia,JB,West Java,77,Garut
280,ID_JB_74,ID,Indonesia,JB,West Java,74,Cirebon
281,ID_JB_72,ID,Indonesia,JB,West Java,72,Cianjur
282,ID_JB_71,ID,Indonesia,JB,West Java,71,Ciamis
283,ID_JB_69,ID,Indonesia,JB,West Java,69,Bogor
284,ID_JB_67,ID,Indonesia,JB,West Java,67,Bekasi
285,ID_JB_63,ID,Indonesia,JB,West Java,63,Bandung
286,ID_JB_498,ID,Indonesia,JB,West Java,498,Pangandaran
287,ID_JB_88,ID,Indonesia,JB,West Java,88,Tasikmalaya
288,ID_JB_85,ID,Indonesia,JB,West Java,85,Sukabumi
289,ID_JB_76,ID,Indonesia,JB,West Java,76,Depok
290,ID_JB_75,ID,Indonesia,JB,West Java,75,Cirebon
291,ID_JB_73,ID,Indonesia,JB,West Java,73,Cimahi
292,ID_JB_70,ID,Indonesia,JB,West Java,70,Bogor
293,ID_JB_68,ID,Indonesia,JB,West Java,68,Bekasi
294,ID_JB_66,ID,Indonesia,JB,West Java,66,Banjar
295,ID_JB_64,ID,Indonesia,JB,West Java,64,Bandung
296,ID_BT_22,ID,Indonesia,BT,Banten,22,Tangerang
297,ID_BT_20,ID,Indonesia,BT,Banten,20,Serang
298,ID_BT_19,ID,Indonesia,BT,Banten,19,Pandeglang
299,ID_BT_18,ID,Indonesia,BT,Banten,18,Lebak
300,ID_BT_24,ID,Indonesia,BT,Banten,24,South Tangerang
301,ID_BT_23,ID,Indonesia,BT,Banten,23,Tangerang
302,ID_BT_17,ID,Indonesia,BT,Banten,17,Cilegon
303,ID_RI_222,ID,Indonesia,RI,Riau,222,Natuna
304,ID_RI_219,ID,Indonesia,RI,Riau,219,Karimun
305,ID_RI_362,ID,Indonesia,RI,Riau,362,Siak
306,ID_RI_360,ID,Indonesia,RI,Riau,360,Rokan Hilir
307,ID_RI_361,ID,Indonesia,RI,Riau,361,Rokan Hulu
308,ID_RI_359,ID,Indonesia,RI,Riau,359,Pelalawan
309,ID_RI_497,ID,Indonesia,RI,Riau,497,Kepulauan Meranti
310,ID_RI_357,ID,Indonesia,RI,Riau,357,Kuantan Singingi
311,ID_RI_356,ID,Indonesia,RI,Riau,356,Kampar
312,ID_RI_355,ID,Indonesia,RI,Riau,355,Indragiri Hulu
313,ID_RI_354,ID,Indonesia,RI,Riau,354,Indragiri Hilir
314,ID_RI_352,ID,Indonesia,RI,Riau,352,Bengkalis
315,ID_RI_358,ID,Indonesia,RI,Riau,358,Pekanbaru
316,ID_RI_353,ID,Indonesia,RI,Riau,353,Dumai
317,ID_RI_223,ID,Indonesia,RI,Riau,223,Tanjung Pinang
318,ID_RI_217,ID,Indonesia,RI,Riau,217,Batam
319,ID_BB_11,ID,Indonesia,BB,Bangka Belitung Islands,11,Bangka Barat
320,ID_BB_12,ID,Indonesia,BB,Bangka Belitung Islands,12,Bangka Selatan
321,ID_BB_15,ID,Indonesia,BB,Bangka Belitung Islands,15,Belitung Timur
322,ID_BB_13,ID,Indonesia,BB,Bangka Belitung Islands,13,Bangka Tengah
323,ID_BB_14,ID,Indonesia,BB,Bangka Belitung Islands,14,Belitung
324,ID_BB_10,ID,Indonesia,BB,Bangka Belitung Islands,10,Bangka
325,ID_BB_16,ID,Indonesia,BB,Bangka Belitung Islands,16,Pangkal Pinang
326,ID_ST_507,ID,Indonesia,ST,Central Sulawesi,507,Morowali Utara
327,ID_ST_506,ID,Indonesia,ST,Central Sulawesi,506,Banggai Laut
328,ID_ST_402,ID,Indonesia,ST,Central Sulawesi,402,Tolitoli
329,ID_ST_401,ID,Indonesia,ST,Central Sulawesi,401,Tojo Una Una
330,ID_ST_400,ID,Indonesia,ST,Central Sulawesi,400,Sigi
331,ID_ST_399,ID,Indonesia,ST,Central Sulawesi,399,Poso
332,ID_ST_398,ID,Indonesia,ST,Central Sulawesi,398,Parigi Moutong
333,ID_ST_396,ID,Indonesia,ST,Central Sulawesi,396,Morowali
334,ID_ST_395,ID,Indonesia,ST,Central Sulawesi,395,Donggala
335,ID_ST_394,ID,Indonesia,ST,Central Sulawesi,394,Buol
336,ID_ST_393,ID,Indonesia,ST,Central Sulawesi,393,Banggai Kepulauan
337,ID_ST_392,ID,Indonesia,ST,Central Sulawesi,392,Banggai
338,ID_ST_397,ID,Indonesia,ST,Central Sulawesi,397,Palu
339,ID_SR_505,ID,Indonesia,SR,West Sulawesi,505,Mamuju Tengah
340,ID_SR_367,ID,Indonesia,SR,West Sulawesi,367,Polewali Mandar
341,ID_SR_366,ID,Indonesia,SR,West Sulawesi,366,Pasangkayu
342,ID_SR_365,ID,Indonesia,SR,West Sulawesi,365,Mamuju
343,ID_SR_364,ID,Indonesia,SR,West Sulawesi,364,Mamasa
344,ID_SR_363,ID,Indonesia,SR,West Sulawesi,363,Majene
345,ID_KI_502,ID,Indonesia,KI,East Kalimantan,502,Mahakam Ulu
346,ID_KI_207,ID,Indonesia,KI,East Kalimantan,207,West Kutai
347,ID_KI_215,ID,Indonesia,KI,East Kalimantan,215,Tana Tidung
348,ID_KI_212,ID,Indonesia,KI,East Kalimantan,212,Paser
349,ID_KI_211,ID,Indonesia,KI,East Kalimantan,211,Nunukan
350,ID_KI_213,ID,Indonesia,KI,East Kalimantan,213,Penajam North Paser

In [ ]:
# Find rows in sheet_df with no matches in wiki_df
df = sheet_df.merge(wiki_df, how='left', left_on=['Kota_standardised', 'regiontype'], right_on=['place_standardised', 'regiontype']) 
# missing = df[df['placeLabel'].isnull() & ~df['KabKota'].isin(['zTam'])]
missing = df[df['placeLabel'].isnull()]
missing
# len(missing)

    ID Provinsi                   Provinsi  ... classLabel place_standardised
23            1                 Aceh (NAD)  ...        NaN                NaN
24            1                 Aceh (NAD)  ...        NaN                NaN
25            1                 Aceh (NAD)  ...        NaN                NaN
26            2                       Bali  ...        NaN                NaN
27            2                       Bali  ...        NaN                NaN
28            2                       Bali  ...        NaN                NaN
42            3                     Banten  ...        NaN                NaN
46            3                     Banten  ...        NaN                NaN
47            4                   Bengkulu  ...        NaN                NaN
66            5              DI Yogyakarta  ...        NaN                NaN
68            5              DI Yogyakarta  ...        NaN                NaN
69            6                DKI Jakarta  ...        NaN                NaN
70            6                DKI Jakarta  ...        NaN                NaN
83            7                  Gorontalo  ...        NaN                NaN
84            8                      Jambi  ...        NaN                NaN
123           9                 Jawa Barat  ...        NaN                NaN
124          10                Jawa Tengah  ...        NaN                NaN
197          11                 Jawa Timur  ...        NaN                NaN
200          12           Kalimantan Barat  ...        NaN                NaN
201          12           Kalimantan Barat  ...        NaN                NaN
229          13         Kalimantan Selatan  ...        NaN                NaN
230          14          Kalimantan Tengah  ...        NaN                NaN
255          15           Kalimantan Timur  ...        NaN                NaN
256          16           Kalimantan Utara  ...        NaN                NaN
277          17  Kepulauan Bangka Belitung  ...        NaN                NaN
278          18             Kepulauan Riau  ...        NaN                NaN
309          19                    Lampung  ...        NaN                NaN
310          20                     Maluku  ...        NaN                NaN
331          21               Maluku Utara  ...        NaN                NaN
332          21               Maluku Utara  ...        NaN                NaN
333          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
334          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
335          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
368          23        Nusa Tenggara Timur  ...        NaN                NaN
371          24                      Papua  ...        NaN                NaN
414          25                Papua Barat  ...        NaN                NaN
416          26                       Riau  ...        NaN                NaN
417          26                       Riau  ...        NaN                NaN
437          27             Sulawesi Barat  ...        NaN                NaN
439          28           Sulawesi Selatan  ...        NaN                NaN
440          28           Sulawesi Selatan  ...        NaN                NaN
441          28           Sulawesi Selatan  ...        NaN                NaN
479          29            Sulawesi Tengah  ...        NaN                NaN
481          30          Sulawesi Tenggara  ...        NaN                NaN
514          31             Sulawesi Utara  ...        NaN                NaN
515          31             Sulawesi Utara  ...        NaN                NaN
516          32             Sumatera Barat  ...        NaN                NaN
554          33           Sumatera Selatan  ...        NaN                NaN
555          33           Sumatera Selatan  ...        NaN                NaN
556          34             Sumatera Utara  ...        NaN                NaN

[50 rows x 15 columns]