<a href="https://colab.research.google.com/github/dhan16/colabs/blob/master/covid19opendata/WikiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WikiData

In [42]:
# Sparql functions
import requests
import pandas as pd

ENDPOINT = "https://query.wikidata.org/sparql"


def wiki_data(sparql):
  res = requests.get(ENDPOINT, params = {'format': 'json', 'query': sparql})
  return res.json()


def wikidata_to_dataframe(json):
  results = json["results"]["bindings"]
  # column names we draw from the first result
  cols = [ val for val in results[0] ]
  rows = []
  for result in results:
      values = [ result[val]["value"] for val in result ]
      rows.append(values)
  return pd.DataFrame(rows, columns=cols)

In [43]:
# Get all departments of France, and what administrative region they belong to
# SELECT ?place ?subregion1_code ?subregion2_code ?placeLabel
# WHERE
# {
#   ?place wdt:P131 ?subregion1_code.
#   ?place wdt:P2586 ?subregion2_code.
#   ?place wdt:P31/wdt:P279* wd:Q6465.
#   SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE]". }
# }

sparql = """
SELECT ?place ?subregion1 ?admin_code ?subregion1Label ?placeLabel ?class ?classLabel
WHERE
{
  ?place wdt:P31/wdt:P279* wd:Q12479774.
  ?place wdt:P31 ?class.
  ?class wdt:P279 wd:Q12479774.
  ?place wdt:P131 ?subregion1.
  ?place wdt:P2588 ?admin_code.
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
  }
}
"""
res = wiki_data(sparql)
wiki_raw = wikidata_to_dataframe(res)
wiki_raw
# res

                                       class  ...            classLabel
0    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
1    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
2    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
3    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
4    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
..                                       ...  ...                   ...
536  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
537  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
538  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
539  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
540  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia

[541 rows x 7 columns]

In [44]:
provs = pd.read_csv('https://raw.githubusercontent.com/dhan16/covid-19-open-data/indo/src/data/metadata.csv')
provs = provs.query('(country_code == "ID")')
provs

         key country_code  ...               match_string aggregate_report_offset
10605     ID           ID  ...                        NaN                      -1
10606  ID_AC           ID  ...                        NaN                       0
10607  ID_BA           ID  ...                        NaN                       0
10608  ID_BB           ID  ...  Kepulauan Bangka Belitung                     NaN
10609  ID_BE           ID  ...                        NaN                     NaN
10610  ID_BT           ID  ...                        NaN                     NaN
10611  ID_GO           ID  ...                        NaN                     NaN
10612  ID_JA           ID  ...                        NaN                     NaN
10613  ID_JB           ID  ...                 Jawa Barat                     NaN
10614  ID_JI           ID  ...                 Jawa Timur                     NaN
10615  ID_JK           ID  ...                DKI Jakarta                     NaN
10616  ID_JT           ID  ...                Jawa Tengah                     NaN
10617  ID_KB           ID  ...           Kalimantan Barat                     NaN
10618  ID_KI           ID  ...           Kalimantan Timur                     NaN
10619  ID_KR           ID  ...             Kepulauan Riau                     NaN
10620  ID_KS           ID  ...         Kalimantan Selatan                     NaN
10621  ID_KT           ID  ...          Kalimantan Tengah                     NaN
10622  ID_KU           ID  ...           Kalimantan Utara                     NaN
10623  ID_LA           ID  ...                        NaN                     NaN
10624  ID_MA           ID  ...                        NaN                     NaN
10625  ID_MU           ID  ...               Maluku Utara                     NaN
10626  ID_NB           ID  ...        Nusa Tenggara Barat                     NaN
10627  ID_NT           ID  ...        Nusa Tenggara Timur                     NaN
10628  ID_PA           ID  ...                        NaN                     NaN
10629  ID_PB           ID  ...                Papua Barat                     NaN
10630  ID_RI           ID  ...                        NaN                     NaN
10631  ID_SA           ID  ...             Sulawesi Utara                     NaN
10632  ID_SB           ID  ...             Sumatera Barat                     NaN
10633  ID_SG           ID  ...          Sulawesi Tenggara                     NaN
10634  ID_SN           ID  ...           Sulawesi Selatan                     NaN
10635  ID_SR           ID  ...             Sulawesi Barat                     NaN
10636  ID_SS           ID  ...           Sumatera Selatan                     NaN
10637  ID_ST           ID  ...            Sulawesi Tengah                     NaN
10638  ID_SU           ID  ...             Sumatera Utara                     NaN
10639  ID_YO           ID  ...              DI Yogyakarta                     NaN

[35 rows x 11 columns]

In [45]:
wiki_df = wiki_raw.copy()

# wiki_raw.classLabel.unique()
kabkota_to_regiontype = {
    'regency of Indonesia' : 'Regency',
    'administrative regency of Indonesia' : 'Regency',
    'city of Indonesia': 'City',
    'administrative city of Indonesia': 'City',
}
wiki_df['regiontype'] = wiki_df.apply(lambda r: kabkota_to_regiontype[r.classLabel], axis=1)
wiki_df

                                       class  ... regiontype
0    http://www.wikidata.org/entity/Q3191695  ...    Regency
1    http://www.wikidata.org/entity/Q3191695  ...    Regency
2    http://www.wikidata.org/entity/Q3191695  ...    Regency
3    http://www.wikidata.org/entity/Q3191695  ...    Regency
4    http://www.wikidata.org/entity/Q3191695  ...    Regency
..                                       ...  ...        ...
536  http://www.wikidata.org/entity/Q3199141  ...       City
537  http://www.wikidata.org/entity/Q3199141  ...       City
538  http://www.wikidata.org/entity/Q3199141  ...       City
539  http://www.wikidata.org/entity/Q3199141  ...       City
540  http://www.wikidata.org/entity/Q3199141  ...       City

[541 rows x 8 columns]

## Sheet

In [46]:
!pip install --upgrade gspread

Requirement already up-to-date: gspread in /usr/local/lib/python3.7/dist-packages (3.7.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.27.0)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (54.0.0)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2020.12.5)

In [47]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

sheet_url = 'https://docs.google.com/spreadsheets/d/1FJJXiGuOb5nXrjJeV3QcHNhTo38YdcsTIFl29mWDIqI/edit#gid=2006070746'
worksheet = gc.open_by_url(sheet_url).worksheet('Kode Kota')
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
sheet_raw = pd.DataFrame.from_records(rows[2:], columns=rows[1])

In [48]:
sheet_df = sheet_raw.copy()

kabkota_to_regiontype = {
    'Kab.' : 'Regency', 
    'Kota': 'City', 
    'zTam' : 'zTam'
}
sheet_df['regiontype'] = sheet_df.apply(lambda r: kabkota_to_regiontype[r.KabKota], axis=1)
sheet_df

    ID Provinsi        Provinsi ID Kota KabKota              Kota regiontype
0             1      Aceh (NAD)     258    Kab.        Aceh Barat    Regency
1             1      Aceh (NAD)     259    Kab.   Aceh Barat Daya    Regency
2             1      Aceh (NAD)     260    Kab.        Aceh Besar    Regency
3             1      Aceh (NAD)     261    Kab.         Aceh Jaya    Regency
4             1      Aceh (NAD)     262    Kab.      Aceh Selatan    Regency
..          ...             ...     ...     ...               ...        ...
557          34  Sumatera Utara     492    Kab.  Tapanuli Selatan    Regency
558          34  Sumatera Utara     493    Kab.   Tapanuli Tengah    Regency
559          34  Sumatera Utara     494    Kab.    Tapanuli Utara    Regency
560          34  Sumatera Utara     495    Kota     Tebing Tinggi       City
561          34  Sumatera Utara     496    Kab.      Toba Samosir    Regency

[562 rows x 6 columns]

## Sheet vs WikiData

In [49]:
def indonesian_direction_to_english(place: str):
  # place is in lower
  to_english = {
      'pusat': 'central',
      'tengah' : 'central',
      'utara' : 'north',
      'selatan' : 'south',
      'timur' : 'east',
      'barat' : 'west',
  }
  bits = place.split()
  if len(bits) > 1:
    for indo_dir, eng_dir in to_english.items():
      # in indonesian the dir is at the end. island/islands 
      if bits[-1] == indo_dir:
        bits.pop()
        bits.insert(0, eng_dir)
        break
  place = ' '.join(bits)
  return place

def indonesian_to_english(place: str):
  # place is in lower
  to_english = {
      'kepulauan' : 'islands',
      'pulau' : 'island',
  }
  bits = place.split()
  if len(bits) > 1:
    for indo, eng in to_english.items():
      # in indonesian the island is at the beginning while in english its at the end
      if bits[0] == indo:
        bits.pop(0)
        bits.append(eng)
        break
  place = ' '.join(bits)
  return place

# indonesian_direction_to_english('tengah whatever')
indonesian_direction_to_english('whatever tengah')
indonesian_to_english('kepulauan tengah')

'tengah islands'

In [50]:
spellings = {
    'Toba Samosir' : 'Toba Regency',
    'Penajam Paser Utara' : 'Penajam North Paser',
    'Kupang' : 'Kupang Regency',
    'Kepulauan Seribu' : 'Thousand Islands',
    'Pangkajene Kepulauan' : 'Pangkajene Islands',
    'Pasangkayu (Mamuju Utara)': 'Pasangkayu', # https://en.wikipedia.org/wiki/Pasangkayu_Regency
    # due to dashes
    'Bau-Bau' : 'Baubau',
    'Tojo Una-Una' : 'Tojo Una Una',
    'Toli-Toli': 'Tolitoli',
     # verify below
    'Kepulauan Sangihe' : 'Sangihe',
    'Kepulauan Sitaro' : 'Kepulauan Siau Tagulandang Biaro',
}
def standard_place_spelling(place: str):
   # other spellings if still required
  place = spellings.get(place, place)
  # all lowercase
  place = place.lower()
  # apply translations
  place = indonesian_direction_to_english(place)
  place = indonesian_to_english(place)
  # remove spaces
  place = place.replace(' ', '')
  return place


wiki_df['place_standardised'] = wiki_df.apply(lambda r: standard_place_spelling(r.placeLabel), axis=1)
sheet_df['Kota_standardised'] = sheet_df.apply(lambda r: standard_place_spelling(r.Kota), axis=1)

In [51]:
# Find rows in wiki_df with no matches in sheet_df
df = wiki_df.merge(sheet_df, how='left', right_on=['Kota_standardised', 'regiontype'], left_on=['place_standardised', 'regiontype']) 
df = df.merge(provs, how='left', left_on='subregion1Label', right_on='subregion1_name')
missing = df[df['Kota'].isnull()]
missing
# len(missing)

df = df[~df['Kota'].isnull()]
cols = ['country_code', 'country_name', 'subregion1_code', 'subregion1_name', 'admin_code', 'placeLabel']
df[cols]

    country_code country_name  ... admin_code      placeLabel
0            NaN          NaN  ...      34.03    Gunung Kidul
1            NaN          NaN  ...      34.02          Bantul
2             ID    Indonesia  ...      35.04     Tulungagung
3             ID    Indonesia  ...      35.23           Tuban
4             ID    Indonesia  ...      82.07  Morotai Island
..           ...          ...  ...        ...             ...
536           ID    Indonesia  ...      19.71  Pangkal Pinang
537           ID    Indonesia  ...      19.71  Pangkal Pinang
538           ID    Indonesia  ...      18.72           Metro
539           ID    Indonesia  ...      18.71  Bandar Lampung
540           ID    Indonesia  ...      18.71  Bandar Lampung

[540 rows x 6 columns]

In [52]:
# Find rows in sheet_df with no matches in wiki_df
df = sheet_df.merge(wiki_df, how='left', left_on=['Kota_standardised', 'regiontype'], right_on=['place_standardised', 'regiontype']) 
# missing = df[df['placeLabel'].isnull() & ~df['KabKota'].isin(['zTam'])]
missing = df[df['placeLabel'].isnull()]
missing
# len(missing)

    ID Provinsi                   Provinsi  ... classLabel place_standardised
23            1                 Aceh (NAD)  ...        NaN                NaN
24            1                 Aceh (NAD)  ...        NaN                NaN
25            1                 Aceh (NAD)  ...        NaN                NaN
26            2                       Bali  ...        NaN                NaN
27            2                       Bali  ...        NaN                NaN
28            2                       Bali  ...        NaN                NaN
42            3                     Banten  ...        NaN                NaN
46            3                     Banten  ...        NaN                NaN
47            4                   Bengkulu  ...        NaN                NaN
66            5              DI Yogyakarta  ...        NaN                NaN
68            5              DI Yogyakarta  ...        NaN                NaN
69            6                DKI Jakarta  ...        NaN                NaN
70            6                DKI Jakarta  ...        NaN                NaN
83            7                  Gorontalo  ...        NaN                NaN
84            8                      Jambi  ...        NaN                NaN
123           9                 Jawa Barat  ...        NaN                NaN
124          10                Jawa Tengah  ...        NaN                NaN
197          11                 Jawa Timur  ...        NaN                NaN
200          12           Kalimantan Barat  ...        NaN                NaN
201          12           Kalimantan Barat  ...        NaN                NaN
229          13         Kalimantan Selatan  ...        NaN                NaN
230          14          Kalimantan Tengah  ...        NaN                NaN
255          15           Kalimantan Timur  ...        NaN                NaN
256          16           Kalimantan Utara  ...        NaN                NaN
277          17  Kepulauan Bangka Belitung  ...        NaN                NaN
278          18             Kepulauan Riau  ...        NaN                NaN
309          19                    Lampung  ...        NaN                NaN
310          20                     Maluku  ...        NaN                NaN
331          21               Maluku Utara  ...        NaN                NaN
332          21               Maluku Utara  ...        NaN                NaN
333          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
334          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
335          22  Nusa Tenggara Barat (NTB)  ...        NaN                NaN
368          23        Nusa Tenggara Timur  ...        NaN                NaN
371          24                      Papua  ...        NaN                NaN
414          25                Papua Barat  ...        NaN                NaN
416          26                       Riau  ...        NaN                NaN
417          26                       Riau  ...        NaN                NaN
437          27             Sulawesi Barat  ...        NaN                NaN
439          28           Sulawesi Selatan  ...        NaN                NaN
440          28           Sulawesi Selatan  ...        NaN                NaN
441          28           Sulawesi Selatan  ...        NaN                NaN
479          29            Sulawesi Tengah  ...        NaN                NaN
481          30          Sulawesi Tenggara  ...        NaN                NaN
514          31             Sulawesi Utara  ...        NaN                NaN
515          31             Sulawesi Utara  ...        NaN                NaN
516          32             Sumatera Barat  ...        NaN                NaN
554          33           Sumatera Selatan  ...        NaN                NaN
555          33           Sumatera Selatan  ...        NaN                NaN
556          34             Sumatera Utara  ...        NaN                NaN

[50 rows x 15 columns]