<a href="https://colab.research.google.com/github/dhan16/colabs/blob/master/covid19opendata/WikiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WikiData

In [19]:
# Sparql functions
import requests
import pandas as pd

ENDPOINT = "https://query.wikidata.org/sparql"


def wiki_data(sparql):
  res = requests.get(ENDPOINT, params = {'format': 'json', 'query': sparql})
  return res.json()


def wikidata_to_dataframe(json):
  results = json["results"]["bindings"]
  # column names we draw from the first result
  cols = [ val for val in results[0] ]
  rows = []
  for result in results:
      values = [ result[val]["value"] for val in result ]
      rows.append(values)
  return pd.DataFrame(rows, columns=cols)

In [26]:
sparql = """
SELECT ?place ?placeLabel ?class ?classLabel
WHERE
{
  ?place wdt:P31/wdt:P279* wd:Q12479774.
  ?place wdt:P31 ?class.
  ?class wdt:P279 wd:Q12479774.
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
  }
}
"""
res = wiki_data(sparql)
wiki_raw = wikidata_to_dataframe(res)
wiki_raw
# res

                                       class  ...            classLabel
0    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
1    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
2    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
3    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
4    http://www.wikidata.org/entity/Q3191695  ...  regency of Indonesia
..                                       ...  ...                   ...
512  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
513  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
514  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
515  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia
516  http://www.wikidata.org/entity/Q3199141  ...     city of Indonesia

[517 rows x 4 columns]

In [27]:
wiki_raw.classLabel.unique()

kabkota_to_regiontype = {
    'regency of Indonesia' : 'Regency',
    'administrative regency of Indonesia' : 'Regency',
    'city of Indonesia': 'City',
    'administrative city of Indonesia': 'City',
}

wiki_df = wiki_raw
wiki_df['regiontype'] = wiki_df.apply(lambda r: kabkota_to_regiontype[r.classLabel], axis=1)
wiki_df

                                       class  ... regiontype
0    http://www.wikidata.org/entity/Q3191695  ...    Regency
1    http://www.wikidata.org/entity/Q3191695  ...    Regency
2    http://www.wikidata.org/entity/Q3191695  ...    Regency
3    http://www.wikidata.org/entity/Q3191695  ...    Regency
4    http://www.wikidata.org/entity/Q3191695  ...    Regency
..                                       ...  ...        ...
512  http://www.wikidata.org/entity/Q3199141  ...       City
513  http://www.wikidata.org/entity/Q3199141  ...       City
514  http://www.wikidata.org/entity/Q3199141  ...       City
515  http://www.wikidata.org/entity/Q3199141  ...       City
516  http://www.wikidata.org/entity/Q3199141  ...       City

[517 rows x 5 columns]

## Sheet

In [ ]:
!pip install --upgrade gspread

In [28]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

sheet_url = 'https://docs.google.com/spreadsheets/d/1FJJXiGuOb5nXrjJeV3QcHNhTo38YdcsTIFl29mWDIqI/edit#gid=2006070746'
worksheet = gc.open_by_url(sheet_url).worksheet('Kode Kota')
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
sheet_raw = pd.DataFrame.from_records(rows[2:], columns=rows[1])

In [43]:
sheet_df = sheet_raw

kabkota_to_regiontype = {
    'Kab.' : 'Regency', 
    'Kota': 'City', 
    'zTam' : 'zTam'
}
sheet_df['regiontype'] = sheet_df.apply(lambda r: kabkota_to_regiontype[r.KabKota], axis=1)

spellings = {
    'Labuhanbatu': 'Labuhan Batu',
    'Batu Bara' : 'Batubara',
    'Pematang Siantar' : 'Pematangsiantar',
    'Tapanuli Tengah' : 'Central Tapanuli',
    'Toba Samosir' : 'Toba Regency',
}
sheet_df['Kota_respelled'] = sheet_df.apply(lambda r: spellings.get(r.Kota, r.Kota), axis=1)
# sheet_df

## Sheet vs WikiData

In [48]:

# Find rows in sheet_df with no matches in wiki_df
df = sheet_df.merge(wiki_df, how='left', left_on=['Kota_respelled', 'regiontype'], right_on=['placeLabel', 'regiontype']) 
missing = df[df['placeLabel'].isnull() & ~df['KabKota'].isin(['zTam'])]
missing
# len(missing)

    ID Provinsi                   Provinsi ID Kota  ... place placeLabel classLabel
42            3                     Banten      21  ...   NaN        NaN        NaN
45            3                     Banten      24  ...   NaN        NaN        NaN
55            4                   Bengkulu      32  ...   NaN        NaN        NaN
67            6                DKI Jakarta      40  ...   NaN        NaN        NaN
68            6                DKI Jakarta      41  ...   NaN        NaN        NaN
69            6                DKI Jakarta      42  ...   NaN        NaN        NaN
70            6                DKI Jakarta      43  ...   NaN        NaN        NaN
71            6                DKI Jakarta      44  ...   NaN        NaN        NaN
72            6                DKI Jakarta      45  ...   NaN        NaN        NaN
81            8                      Jambi      52  ...   NaN        NaN        NaN
88            8                      Jambi      59  ...   NaN        NaN        NaN
94            9                 Jawa Barat      65  ...   NaN        NaN        NaN
236          14          Kalimantan Tengah     199  ...   NaN        NaN        NaN
243          15           Kalimantan Timur     207  ...   NaN        NaN        NaN
245          15           Kalimantan Timur     209  ...   NaN        NaN        NaN
248          15           Kalimantan Timur     213  ...   NaN        NaN        NaN
307          21               Maluku Utara     255  ...   NaN        NaN        NaN
329          23  Nusa Tenggara Timur (NTT)     295  ...   NaN        NaN        NaN
362          24                      Papua     322  ...   NaN        NaN        NaN
410          27             Sulawesi Barat     366  ...   NaN        NaN        NaN
424          28           Sulawesi Selatan     384  ...   NaN        NaN        NaN
431          28           Sulawesi Selatan     381  ...   NaN        NaN        NaN
451          29            Sulawesi Tengah     401  ...   NaN        NaN        NaN
452          29            Sulawesi Tengah     402  ...   NaN        NaN        NaN
456          30          Sulawesi Tenggara     403  ...   NaN        NaN        NaN
477          31             Sulawesi Utara     420  ...   NaN        NaN        NaN
478          31             Sulawesi Utara     421  ...   NaN        NaN        NaN
479          31             Sulawesi Utara     422  ...   NaN        NaN        NaN
494          32             Sumatera Barat     434  ...   NaN        NaN        NaN
512          33           Sumatera Selatan     452  ...   NaN        NaN        NaN
556          34             Sumatera Utara     491  ...   NaN        NaN        NaN

[31 rows x 11 columns]